
.street{
-fx-background-color:#000000;


}
.building{
	-fx-background-color:#c0c0c0;
	-fx-background-image: url("office_building.png")
   

}

.homebase{
	-fx-background-color:#ffff00;
			-fx-background-image: url("homebase.png")
}
.hospital{
	-fx-background-color:#ffccff;
		-fx-background-image: url("hospital.png")
}
.patient{
	-fx-background-color:#ff0000;
		-fx-background-image: url("emergency.png")
}
.ambulance{
	-fx-background-color:#000000;
	-fx-background-image: url("ambulance.png")
}
