@charset "ISO-8859-1";

.street{
-fx-background-color:#000000;


}
.building{
	-fx-background-color:#c0c0c0;
}
.homebase{
	-fx-background-color:#ffff00;
}
.hospital{
	-fx-background-color:#ffffff;
}
.patient{
	-fx-background-color:#ff0000;
}
.ambulance{
	-fx-background-color:#8080ff;
}